*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(48, 6, 48), rgb(20, 3, 51));
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #f1f1f1;
    font-size: 50px;
    text-align: center;
    margin: 30px auto;
}

.container-choices {
    align-items: center;
    display: flex;
    justify-content: center;
}

.case {
    align-items: center;
    background: #fff;
    border: 3px solid #000;
    display: flex;
    height: 310px;
    flex-shrink: 0;
    justify-content: center;
    margin: 10px;
    width: 210px;
}

#first-case {
    margin-right: 30px;
}


.delete {
    align-items: center;
    background: #333;
    border: 2px solid #f1f1f1;
    border-radius: 25px;
    color: white;
    display: flex;
    flex-shrink: 0;
    font-size: 25px;
    height: 200px;
    justify-content: center;
    width: 200px;
}

.base {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 300px;
    position: relative;
    width: 200px;
}

.container-cases {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}